img {
    height: 80px;
    padding: 20px;

}

.container {
  width: auto;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.sidenav-content {
  margin: 20px;
}

.mat-mdc-list-item-icon {
  color: rgba(0, 0, 0, 0.54);
}