<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar-row class="text-center">
      <div class="container">
        <a class="navbar-brand">
          <img src="assets/bate-papo-online.png" alt="Imagem de chat para ajuda" height="50">
        </a>
      </div>
    </mat-toolbar-row>
    <mat-nav-list>
      <a mat-list-item routerLink="home">
        <mat-icon class="align-middle text-white m-3" aria-hidden="false" aria-label="Example home icon"
          fontIcon="home"></mat-icon>
        <span class="align-middle text-white">Home</span>
      </a>
      <a mat-list-item routerLink="tecnico">
        <mat-icon class="align-middle text-white m-3" aria-hidden="false" aria-label="Example home icon"
          fontIcon="account_circle"></mat-icon>
        <span class="align-middle text-white">Técnicos</span>
      </a>
      <a mat-list-item routerLink="">
        <mat-icon class="align-middle text-white text-white m-3" aria-hidden="false" aria-label="Example home icon"
          fontIcon="person"></mat-icon>
        <span class="align-middle text-white">Clientes</span>
      </a>
      <a mat-list-item routerLink="">
        <mat-icon class="align-middle text-white m-3" aria-hidden="false" aria-label="Example home icon"
          fontIcon="code"></mat-icon>
        <span class="align-middle text-white">Github</span>
      </a>
      <a mat-list-item routerLink="">
        <mat-icon class="align-middle text-white m-3" aria-hidden="false" aria-label="Example home icon"
          fontIcon="logout"></mat-icon>
        <span class="align-middle text-white">Logout</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="text-white justify-content-center" style="background-color: rgb(81, 175, 230);">
      @if (isHandset$ | async) {
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <span>Help Desk</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>